#add-post-header {
  width: 100%;
  height: 70px;
  background-color: #ebeeef;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 200 !important;
  /* color: white; */
}
#add-post-logo {
  width: 48px;
  height: auto;
}
#add-post-header i {
  font-size: 25px;
  margin: 0px 20px 0px 30px;
  cursor: pointer;
}
